/* same proprties in app */
:root {
  --clr-lightest: #E0E1DD;
  --clr-lighter: #778DA9;
  --clr-medium: #415A77;
  --clr-darker: #1B263B;
  --clr-darkest: #0D1B2A;
  --transition: all 500ms ease-in-out
}


.relative {
  position: relative;
}

input {
  background: unset;
  outline: none;
  border: none;
  padding: .2em .5em;
  border-bottom: 2px solid var(--clr-lightest);
  width: 300px;
  font-size: 18px;
  font-family: inherit;
  color: var(--clr-lightest);
}

::placeholder {
  color: var(--clr-lighter)
}

/* Shared*/

.navBar {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  font-size: 22px;
}

.link {
  text-decoration: none;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: bold;
  color: var(--clr-lightest)
}

.link:hover {
  scale: 1.1;
  text-decoration: underline;
  color: var(--clr-medium);
  transition: var(--transition);
}

/* Sura */

.wrapper-sura {
  margin-top: 2rem;
  min-width: 95vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 5rem;
}

.sura-search-all {
  padding: 1em;
  display: grid;
  place-items: center;
}

.sura-search-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  cursor: pointer;
  scale: 1.3;
  color: var(--clr-lighter);
}

.sura-search-icon:hover {
  scale: 1.5;
  transform: rotate(90deg);
  transition: var(--transition);
  color: var(--clr-lighter);
}

.all-suras {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

}

.sura {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-medium);
  border-radius: 20px;
  font-size: 20px;
  font-family: inherit;
  color: var(--clr-darkest);
  font-weight: 700;
  cursor: pointer;
}

.aya {
  color: #778DA9;
  font-size: 28px;
  font-family: 'Saira Condensed',
    sans-serif;
  display: grid;
  place-items: center;
}

.sura:hover {
  background-color: var(--clr-lighter);
  scale: 1.1;
  transition: var(--transition);
}

.persian-name {
  font-family: 'Saira Condensed', sans-serif;
}